body {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
}

.primary_color{
    color: rgba(253, 110, 10, 1);
}
.bg_primary{
    background-color: rgba(253, 110, 10, 1);
    color: whitesmoke;
    font-weight: 700;
    font-size: 20px;
}

/* header section  */
nav{
    margin: 0 150px;
}
.header nav{
    display: flex;
    justify-content: space-between;
}
#mary{
    font-family: opnsen 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 45px;
}

nav > ul{
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    margin-right: 51px;  
}

ul li a{
   text-decoration: none;  
}

#btn_primary{
    padding: 18px 30px;
    border: none;
    border-radius: 5px;
}


.header{
    background-color: rgba(255, 248, 243, 1);
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 500px;
    
}

/* banner section  */

.btn_contact{
    border: 2px solid rgb(238, 145, 5);
    border-radius: 5px;
    padding: 18px 30px;
    font-weight: 700;
    font-size: 20px;
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}

.banner .porfile_img{
    width: 400px;
}

/* main seciton start */

.about{
    display: flex;
    align-items: center;
    max-width: 1140px;
    height: 450px;
    margin: 130px 230px 100px 230px;
    background-color: rgba(255, 248, 243, 1);
}
.about_title{
    text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    
}
.seciton_discription{
    text-align: center;
}

.about_content{
    padding: 0px 90px;
}

.my_details{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.my_details > div > h3{
    margin-top: -10px;
}

.what_i_do{
    margin-top: 0px;
}
.about_title2{
    text-align: center;
}
.about_i_do_description{
    text-align: center;
    padding: 30px 250px;
}

.my_skill{
    width: 240px;
    height: 300px;
    border-radius: 5px;
    border: none;
    margin: 0px 10px;
    padding:15px;
    box-shadow: 0px 15px 15px 0px rgb(165, 159, 105);
}
.my_skill_sction{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 150px;
} 

.my_skill_sction .my_skill > p{
    text-align: left;
}